html {
	background: url('../images/BlueBG.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media (min-width: 1200px)
	.full-container {
	    max-width: 1200px;
	}

@media (min-width: 992px)
	.full-container {
	    max-width: 992px;
	}

@media (min-width: 768px)
	.full-container {
	    max-width: 768px;
	}

@media (min-width: 576px)
	.full-container {
	    max-width: 576px;
	}

.full-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ---- Digital Journal styles ---- */
body {
	font-family: 'Raleway', sans-serif !important;
	background-color: transparent;
	color: #FFFFFF;
}
h1, h2, h3 {
	font-family: 'Bevan', cursive;
	letter-spacing: 0.2em;
}
a {
	text-decoration: underline;
	color: #FFFFFF;
}
a:hover {
	text-decoration: underline;
	color: #FFFFCC;
}
h1 {
	margin-bottom: 40px;
	margin-top: 10px;
	text-align: center;
}
p {
	margin-bottom: 0; /*0.5rem;*/
	line-height: 1.5em;
}

.toc {
	font-size: 1.5em;
}

.green-two-corner, .green-one-corner, .green-box, .green-small-box { background: url('../images/GreenBG.jpg'); outline: 3px solid #616802; outline-offset: -3px; }
.orange-two-corner, .orange-one-corner, .orange-box, .orange-small-box { background: url('../images/OrangeBG.jpg'); outline: 3px solid #c66203; outline-offset: -3px; }
.red-two-corner, .red-one-corner, .red-box, .red-small-box { background: url('../images/RedBG.jpg'); outline: 3px solid #821f08; outline-offset: -3px; }
.blue-two-corner, .blue-one-corner, .blue-box, .blue-small-box { background: url('../images/BlueBG.jpg'); outline: 3px solid #146777; outline-offset: -3px; }

.green-two-corner, .green-one-corner, .green-box, .green-small-box, .orange-two-corner, .orange-one-corner, .orange-box, .orange-small-box,
.red-two-corner, .red-one-corner, .red-box, .red-small-box, .blue-two-corner, .blue-one-corner, .blue-box, .blue-small-box {
	position: relative;
	background-size: 100% 100%;
	box-shadow: 9px 9px rgba(0,0,0,0.4);
	font-size: 1.2em;
}

.green-two-corner, .orange-two-corner, .red-two-corner, .blue-two-corner {
	margin: 100px 0;
	padding: 30px 50px 50px 50px;
	font-size: 29px;
}

.green-one-corner, .orange-one-corner, .red-one-corner, .blue-one-corner {
	margin: 100px 0 20px 0;
	padding: 30px;
	font-size: 20px;
}
.green-one-corner h1, .orange-one-corner h1, .red-one-corner h1, .blue-one-corner h1 {
	margin: 0 0 1em 0;
	font-size: 23px;
}
.green-small-box, .orange-small-box, .red-small-box, .blue-small-box {
	padding: 20px;
	margin: 0 50px 20px 50px;
	font-size: 20px;
	text-align: center;
}
.green-box, .orange-box, .red-box, .blue-box {
	padding: 15px;
	margin: 0;
	font-size: 20px;
}

.green-two-corner::before, .green-one-corner::before, .orange-two-corner::before, .orange-one-corner::before,
.red-two-corner::before, .red-one-corner::before, .blue-two-corner::before, .blue-one-corner::before {
	display: block;
	content: "";
	position: absolute;
	height: 184px;
	width: 181px;
	top: -76px;
	left: -70px;
	background: url('../images/Tape.png') no-repeat;
}

.green-two-corner::after, .orange-two-corner::after, .red-two-corner::after, .blue-two-corner::after {
	content: "";
	position: absolute;
	height: 184px;
	width: 181px;
	background: url('../images/Tape.png') no-repeat;
	transform: rotate(180deg);
	display: block;
	right: -67px;
	bottom: -70px;
}

.yellow-post-it { background: url('../images/YellowPostIt.png'); }
.pink-post-it { background: url('../images/PinkPostIt.png'); }
.blue-post-it { background: url('../images/BluePostIt.png'); }

.yellow-post-it, .pink-post-it, .blue-post-it {
	position: relative;
	background-size: 100% 100%;
	width: 300px;
	height: 300px;
	float: right;
	margin-right: -150px;
	transform: rotate(7.5deg);
	z-index: 100;
}

.post-it-content {
	margin: 45px;
    height: 210px;
}

.vr-post-it {
	position: relative;
	width: 185px;
	height: 125px;
	top: 30%;
	left: 20%;
}

.ruled-area {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.ruled-area:before {
	font-family: 'Bevan', cursive;
	content: 'Model Description:';
	position: absolute;
	top: 0; bottom: 0; left: 0;
}

.ruled-area-content {
	background: linear-gradient(transparent, transparent 24px, #FFFFFFA0 24px, transparent 27px);
	background-size: 30px 30px;
}

.ruled-area-content textarea {
	text-indent: 225px;
	width: 100%;
	max-width: 100%;
	min-height: 120px;
	height: 100%;
	max-height: 100%;
	line-height: 30px;
	border: 0;
	outline: 0;
	background: transparent;
	color: #FFFFFF;
	font-size: 18px;
}

/* ---- Navigation ---- */
.titleBar {
	position: relative;
	height: 100%;
	vertical-align: bottom;
	padding-top: 25px;
	padding-bottom: 20px;
}

#titleText {
	font-size: 42px;
	font-weight: bold;
	font-family: 'Bevan', cursive;
	position: relative;
	top: 40px;
	left: 20px;
	text-transform: uppercase;
    padding-right: 120px;
}

.logo {
	transform: rotate(-5deg);
	float: left;
}

.backButton {
	position: absolute;
	right: 20px;
	top: 20px;
}

/* ---- Login ---- */
.loginForm {
	padding: 25px;
    margin: 40px auto;
    background-color: rgba(255,255,255,0.35);
    border-radius: 30px;
    box-shadow: rgba(0,0,0,0.10) 4px 4px;
    max-width: 400px;
}

.form-signin > p {
	text-transform: uppercase;
	padding: 25px 0 7px 0;
}

.form-signin > h2 {
	font-family: 'Raleway', sans-serif !important;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.02em;
	font-size: 36px;
}

.form-signin > button {
	font-weight: bold;
	font-family: 'Bevan', cursive;
	font-size: 28px;
	text-transform: uppercase;
	border: none;
    border-radius: 30px;
    box-shadow: rgba(0,0,0,0.10) 4px 4px;
    padding: 16px;
    color: #FFFFFF;
	background-color: #77C6CD;
}

.form-logout {
	font-weight: bold;
	font-family: 'Bevan', cursive;
	font-size: 18px;
	text-transform: uppercase;
	border: none;
    border-radius: 30px;
    width: 100%;
    box-shadow: rgba(0,0,0,0.10) 4px 4px;
    padding: 16px;
    color: #FFFFFF;
	background-color: #C65151;
}

.form-logout a { text-decoration: none;}
/* ---- Menu ---- */
#optionHolder {
    margin: 40px auto;
    text-align: center;
}

.greenClassButton, .yellowClassButton, .blueClassButton, .redClassButton,
.greenMenuButton, .yellowMenuButton, .blueMenuButton, .redMenuButton {
	border: none;
    border-radius: 30px;
    box-shadow: rgba(0,0,0,0.10) 4px 4px;
	font-weight: bold;
	font-family: 'Bevan', cursive;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 28px 40px;
	margin: 40px auto;
	display: block;
}

.greenClassButton, .yellowClassButton, .blueClassButton, .redClassButton {
    width: 500px;
    max-width: 500px;
	font-size: 28px;
}

.greenMenuButton, .yellowMenuButton, .blueMenuButton, .redMenuButton {
    width: 750px;
    max-width: 750px;
	font-size: 58px;
}

.greenMenuButton, .greenClassButton { background-color: #83BF34; }
.yellowMenuButton, .yellowClassButton { background-color: #F7BB44; }
.blueMenuButton, .blueClassButton { background-color: #77C6CD; }
.redMenuButton, .redClassButton { background-color: #C65151; }

/* ---- Demo Username ---- */
.usernameHeading {
	font-size: 22px;
	font-weight: bold;
	font-family: 'Bevan', cursive;
	text-transform: uppercase;
}

/* ---- Teacher's Facing Journal ---- */
.sortUp > p.headerText:before { content: "\2191"; position: relative; margin-left: -16px; }
.sortDown > p.headerText:before { content: "\2193"; position: relative; margin-left: -16px;}
.sortUp > p.sidewaysText:before { content: "\2192"; position: absolute; top: -20px; }
.sortDown > p.sidewaysText:before { content: "\2190"; position: absolute; top: -20px; }

#resultContainer {
	overflow: scroll;
    overflow-x: auto;
    top: 300px;
    position: absolute;
    bottom: 50px;
    left: 30px;
    right: 10px;
}

#dataGridDisplay {
	position: absolute;
	bottom: 0;
}

.data-dump { font-size: 13.25px; }

.headerRow, .resultRow { /* height: 100%; */ width: 100%; display: inline-table; table-layout: fixed; }
.headerRow { font-weight: bold; height: 85px; margin-top: 20px; }
.resultRow { min-height: 65px; }

.sidewaysText {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
	width: 260px;
	font-size: 22px;
	line-height: 1em;
	letter-spacing: 0.025em;
}
.nameGroup, .timeGroup, .tropicGroup, .formativeAssessmentGroup {
	font-family: 'Bevan', cursive;
	letter-spacing: 0.2em;
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
}

a:hover .nameCell { text-decoration: underline; }
a.nameCell:hover { text-decoration: underline; }
.nameCell a:hover { text-decoration: underline; }

.tropicGroup, .formativeAssessmentGroup { width: 40%; }
.timeGroup { width: 6%; }
.nameGroup { width: 14%; }

.resultHeader { display: inline-block !important; }
.headerText {
	font-size: 22px;
	position: absolute;
    bottom: 15px;
    margin-left: -6px;
    width: 100%;
    text-align: center;
}

.blue-cell, .green-cell, .green-cell-alt, .brown-cell, .brown-cell, .brown-cell-alt {
	display: table-cell;
	vertical-align: top;
	position: relative;
	height: 100%;
	padding: 6px;
}

.nameCell { width: 14%; }
.timeCell { width: 6%; }
.levelCell { width: 10%; }
.faCell { width: 40%; }

.resultRow > .blue-cell, #overviewNameHeader, #overviewFaHeader, #nameHeader, #faHeader {
	background-color: rgba(255, 255, 255, 0.30);
}
.resultRow:nth-child(odd) > .blue-cell,  .singleStudent > .blue-cell {
	background-color: rgba(255, 255, 255, 0.45);
}

.resultRow .green-cell, #timeHeader, #overviewTimeHeader {
	background-color: #95BE75;
}
.resultRow:nth-child(odd) > .green-cell, .singleStudent > .green-cell {
	background-color: #AACA90;
}

.resultRow .green-cell-alt {
	background-color: #AACA90;
}
.resultRow:nth-child(odd) > .green-cell.alt,  .singleStudent > .green-cell.alt {
	background-color: #B2CE9A;
}

.resultRow .brown-cell, #overviewLevel2Header, #overviewLevel4Header, #level2Header, #level4Header {
	background-color: #CDB38D;
}
.resultRow:nth-child(odd) > .brown-cell,  .singleStudent > .brown-cell {
	background-color: #D5BD9C;
}

.resultRow .brown-cell-alt, #overviewLevel1Header, #overviewLevel3Header, #level1Header, #level3Header {
	background-color: #C4A272;
}
.resultRow:nth-child(odd) >.brown-cell-alt,  .singleStudent > .brown-cell-alt {
	background-color: #CDB38D;
}

.interestingFact {
	font-size: 26px;
	text-align: center;
	padding: 12px 0;
}

.followUpQuestions {
	padding: 5px;
	font-size: 14.5px;
}
