 img.comingSoon {
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
 }

 /* ******************************************************** */
 /* PUTTING ARROW ON TOP OF EVERYTHIN SO IT CAN BE CLICKABLE */
 /* ******************************************************** */
 .show {
   z-index: 1;
 }

 /* *********** */
 /* ORANGE CARD */
 /* *********** */
 .orange-card {
   width: 30%;
   height: 5%;
   top: 5%;
   left: 15%;
   text-align: center;
   -webkit-box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
   box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
   border-radius: 20px;
   letter-spacing: 3.5px;
   padding: 1%;
   position: absolute;
   background-color: #ed9805;
 }

 .orange-card .content {
   width: 95%;
   position: absolute;
 }

 /* ****************** */
 /* PREY QUESTIONS BOX */
 /* ****************** */
 .prey-drop-holder {
   top: 15%;
   left: 14%;
   background-image: url("../images/note-paper/blue.png");
   background-repeat: no-repeat;
   background-size: 39% 95%;
   position: absolute;
 }

 .questionChoice {
   cursor: pointer;
 }

 .selectSticker {
   width: 17%;
   margin-left: 5%;
   border-radius: 30%;
   border: 3px dashed #FFF;
 }

 .selectSticker:hover{
   background-color: rgba(0, 0, 0, 0.3);
 }

 /* ********************** */
 /* PREDATOR QUESTIONS BOX */
 /* ********************** */
 .predator-drop-holder {
   top: 47%;
   left: 14%;
   background-image: url("../images/note-paper/green.png");
   background-repeat: no-repeat;
   background-size: 39% 95%;
   position: absolute;
 }

 .prey-drop-holder .prey-drop, .predator-drop-holder .predator-drop {
   width: 30%;
   margin-top: 6.5%;
   margin-bottom: 2.5%;
   padding-left: 3.5%;
   padding-right: 3.5%;
 }

 /* ******* */
 /* HEADERS */
 /* ******* */
 .prey-drop-holder .header, .predator-drop-holder .header {
   font-size: 20px;
   width: 35%;
   padding: 3%;
   top: -10%;
   position: absolute;
 }

 /* ************* */
 /* SNAIL PICTURE */
 /* ************* */
 .snail-picture-2 {
   top: 3%;
   left: 50%;
   position: absolute;
 }

 .snail-picture-2 img {
   width: 70%;
   height: 70%;
   -webkit-box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
   box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
   -webkit-transform: rotate(5deg);
   -ms-transform: rotate(5deg);
   transform: rotate(5deg);
 }

 /* *************************** */
 /* HEALTHY ECOSYSTEM QUESTIONS */
 /* *************************** */
 .healthy-ecosystem-question {
   width: 35%;
   height: 13%;
   top: 38%;
   left: 49%;
   letter-spacing: 3.5px;
   padding: 1%;
   border-radius: 20px;
   -webkit-box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
   box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
   position: absolute;
   background-color: #00aca5;
   z-index: 1;
 }

 .healthy-ecosystem-question p {
   top: 15%;
   font-size: 20px;
   position: absolute;
 }

 /* ****************** */
 /* CONTAINER OF WATER */
 /* ****************** */
 .turbid-water {
   width: 40%;
   height: 40%;
   bottom: 7%;
   left: 50%;
   -webkit-transform: rotate(-5deg);
   -ms-transform: rotate(-5deg);
   transform: rotate(-5deg);
   background-image: url(../images/turbid-water.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   position: absolute;
 }

 .water-cups {
   width: 100%;
   height: 100%;
 }

 .water-cup {
   display: block;
   width: 100%;
   height: 100%;
   cursor: pointer;
 }

 .water-cups li {
   float: left;
   width: 20%;
   margin-top: 9%;
   margin-left: 2.5%;
   margin-right: 2.5%;
   height: 53%;
 }

 .water-cups li:hover{
   border-radius: 20px;
   background-color: rgba(0, 0, 0, 0.3);
   -webkit-transform: rotate(2deg);
   -ms-transform: rotate(2deg);
   transform: rotate(2deg);
 }

 .water-cup img {
   width: 100%;
   display: none;
   margin-top: 40%;
   margin-left: 3%;
   border-radius: 100%;
   -webkit-box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
   box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
 }

 /* ************* */
 /* ANSWER MARKER */
 /* ************* */
 .answerMarker {
   margin: 0.7% -5%;
   width: 4%;
   position: absolute;
 }

 img.answerMarker {
   border-radius: 100%;
   -webkit-box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
   box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
 }

 /* ***************** */
 /* AN UNSED ANSWERED */
 /* ***************** */
 .notUsed {
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
   opacity: 0.35;
 }
